@import url(./wrapper.css);
@import url(./header.css);
@import url(./navbar.css);
@import url(./title.css);
@import url(./maincontent.css);
@import url(./card.css);



:root {
    --alfgow: #a5c71b;
}

body {
    margin: 0;
    background: #0a010136;
}

/* Slider */

.slider-container {
   
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    border: 5px solid var(--alfgow);
    margin: 0;
    padding: 0;
    border-radius: 10%;
    
}

#indexSlider {
    border: 0;
    border-radius: 0;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.slider-slide img{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: auto;
    vertical-align: middle;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: var(--alfgow);
    border-radius: 50%;
}

footer {
    background-color: #FFFFFF;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    height: 70px;
    color: #251F24;
    padding-top: 20px;
}